body{
    color:rgb(255, 238, 0);
    background-image: linear-gradient(to bottom, rgb(127, 3, 3),rgba(148, 0, 0, 0.416));
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

header{
    background-color: rgb(123, 9, 9);
    text-align: center;
    padding: 15px;
    border-radius: 15px;
    
}

footer{
    text-align: center;
    }